/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #1F1F28FF;
    background-alt: #2A2A37FF;
    foreground:     #DCD7BAFF;
    selected:       #7E9CD8FF;
    active:         #76946AFF;
    urgent:         #C34043FF;
}
