@import 'colors.css';

* {
    border: none;
    font-family: 'Google Sans Flex', "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

.modules-right {
    background-color: @bg0;
    opacity: 0.85;
    border: 1px solid @bg3; 
    border-radius: 8px;
    padding: 2px 8px;
    margin-top: 5px;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    color: @fg;
    padding: 0 12px; 
    margin: 0 2px;
    transition: all 0.4s cubic-bezier(.55, 0, .28, 1); 
}

#workspaces button.active {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#workspaces button:hover {
    color: @purple;
    background-color: @bg1;
}

#clock { color: @purple; padding: 0 10px; }
#bluetooth { color: @aqua; padding: 0 10px; }
#pulseaudio { color: @yellow; padding: 0 10px; }
#network { color: @orange; padding: 0 10px; }
#battery { color: @green; padding: 0 10px; }

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to { opacity: 0.3; }
}
